* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

/* Heading Section */

h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    font-size: 60px;
    color: cadetblue;
    text-align: center;
    margin-top: 20px;
}

h1:after {
    display: block;
    height: 2px;
    background-color: cadetblue;
    content: " ";
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
}

.trade {
    font-size: 20px;
}

nav ul {
    margin-top: 6%;
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav__ul .nav__item {
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 120px;
    height: auto;
    border-radius: 10%;
    background-color: cornflowerblue;
    transition: all .5s ease;
}

.nav__ul .nav__item:hover {
    transform: translateY(-3px);
}

.nav__ul .nav__item:nth-child(2) {
   background-color: maroon; 
   width: 140px;
}

.nav__ul .nav__item:nth-child(3) {
    background-color: mediumaquamarine;
    width: 150px;
 }

.nav__ul .nav__item a {
    font-family: 'Manrope', sans-serif;
    font-weight: thin;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}

.nav__link-1 {
    background-color: cornflowerblue;
}

.nav__link-2 {
    background-color: maroon;
}

.nav__link-3 {
    background-color: mediumaquamarine;
}

.logo-container .logo-img {
    width: 200px;
    height: 200px;
}

/* Main / Feature Section */

.main__section {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
}

.wellness__feature {
    display: flex;
}

.wellness__image, .wellness__description {
    width: 50%;
}

.wellness__image {
    text-align: center;
}

.wellness__image img {
    display: inline-block;
    height: 200px;
    width: 200px;

}

.wellness__feature--header {
    font-size: 25px;
    font-family: 'Manrope', 'sans-serif';
    color: cadetblue;
    font-weight: lighter;
    padding-bottom: 25px;
    text-align: center;
}

.wellness__feature--header:after {
    display: block;
    height: 2px;
    background-color: cadetblue;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.wellness__feature--des p {
    font-family: 'Manrope';
    font-size: 18px;
    line-height: 30px;
    color: darkgrey;
}

/* Image Showcase */

.wellness__yoga--showcase {
    display: flex;
    margin-top: 200px;
    margin-bottom: 80px;
}

.showcase__item {
  width:calc(100% / 3);
  text-align: center;
}

.showcase__item img {
    width: 110px;
    height: 100px;
}

.showcase__item img:nth-child(1) {
    height: 110px;
}

.showcase__item img:nth-child(3) {
    height: 110px;
}

/* Yoga Description */



.wellness__yoga--header {
    text-align: center;
    font-size: 20px;
    font-family: 'Manrope', 'san-serif';
    color: cadetblue;
}

.wellness__yoga--header:after {
    display: block;
    height: 2px;
    background-color: cadetblue;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.wellness__yoga--des {
    text-align: center;
}

.wellness__yoga--des p {
    font-family: 'Manrope';
    font-size: 18px;
    line-height: 30px;
    color: darkgrey;
    margin-left: 40px;
    margin-right: 40px;
}

/* Guided Meditation */

.wellness__meditation--feature {
    margin-top: 160px;
    margin-left: 50px;
}


.wellness__meditation--img {
    text-align: center;
    width: calc(100% / 2);
}

.no-flex-1 {
    display: flex;
    flex-direction: row-reverse;
}
.wellness__meditation--img img {
    width: 180px;
    height: 180px;
}

.wellness__meditation--header {
    text-align: center;
    font-size: 20px;
    font-family: 'Manrope', 'san-serif';
    color: cadetblue;
    width: calc(100% / 2);
    padding-top: 60px;
}

.wellness__meditation--header:after {
    display: block;
    height: 2px;
    background-color: cadetblue;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.wellness__meditation--des {
    display: block;
    text-align: center;
    font-family: 'Manrope';
    font-size: 18px;
    line-height: 30px;
    color: darkgrey;
    padding-top: 25px;
}


/* Mindfulness */

.wellness__mindful--feature {
    margin-top: 160px;
    margin-left: 50px;
}


.wellness__mindful--img {
    text-align: center;
    width: calc(100% / 2);
}

.no-flex-2 {
    display: flex;
}
.wellness__mindful--img img {
    width: 180px;
    height: 180px;
}

.wellness__mindful--header {
    text-align: center;
    font-size: 20px;
    font-family: 'Manrope', 'san-serif';
    color: cadetblue;
    width: calc(100% / 2);
    padding-top: 60px;
}

.wellness__mindful--header:after {
    display: block;
    height: 2px;
    background-color: cadetblue;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.wellness__mindful--des {
    display: block;
    text-align: center;
    font-family: 'Manrope';
    font-size: 18px;
    line-height: 30px;
    color: darkgrey;
    padding-top: 25px;
}

/* Benefits */

.wellness__benefits--feature {
    margin-top: 200px;
}


.wellness__benefits--header h2 {
    font-family: 'Manrope', 'sans-serif';
    color: cadetblue;
    text-align: center;
    font-size: 30px;
}

.wellness__benefits--header h3 {
    font-family: 'Manrope', 'sans-serif';
    color: cadetblue;
    text-align: center;
    margin-bottom: 50px;
}

.wellness__benefits--item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}


.noflex-3 {
    width: calc(100% / 2);
}

.wellness__benefits--item_header {
    display: inline-block;
    font-family: 'Manrope', 'sans-serif';
    font-size: 20px;
    color: maroon;
}

.wellness__benefits--des {
    font-family: 'Manrope', 'sans-serif';
    color: black;
}

.wellness__benenfits--icon {
    width: calc(100% / 3);
}

.wellness__benefits--icon img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

img.happy {
    width: 97px;
}

img.relief {
    width: 105px;
    height: 105px;

}

/* Newsletter  Section */

.wellness__newsletter--feature {
    margin-top: 100px;
}

form { max-width:420px; margin:50px auto; }


.wellness__newsletter--header {
    font-family: 'Manrope', 'sans-serif';
    color: cadetblue;
    text-align: center;
    font-size: 24px;
}

.feedback-input {
  color: darkslategray;
  font-family: 'Manrope', 'sans-serif';
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid cadetblue;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

label {
    font-family: 'Manrope', 'sans-serif';
    color: lightslategray;
}

.feedback-input:focus { border:2px solid mediumaquamarine; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

textarea::placeholder {
    font-size: 15px;
    font-weight: bold;
    color: lightgrey;
}

[type="submit"] {
  font-family: 'Manrope', sans-serif;
  width: 100%;
  background: mediumaquamarine;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

[type="submit"]:hover { background: cornflowerblue; }

/* Footer */


.wellness__footer--ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.wellness__footer--ul li a {
    font-family: 'Manrope', 'sans-serif';
    color: cornflowerblue;
    text-decoration: none;
    font-size: 15px;
}

.footer__item {
    margin: 20px;
}

.wellness__copyright {
    text-align: center;
    font-family: 'Manrope', 'sans-serif';
    color: lightslategray;
    font-size: 12px;
}

/* Yoga Poses Page */



.yoga__pose--section {
    display: flex; 
    justify-content: center;
}

.yoga__pose--container {
    width: 80vw;
    height: 75vw;
    border: 1px solid cadetblue;
    border-radius: 5%;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
}

.yoga__pose--name {
    font-family: 'Manrope';
    font-size: 27px;
    color: cadetblue;
}

.yoga__pose--sanskrit {
    font-family: 'Manrope';
    font-size: 18px;
    color: slategray;
    font-style: italic;
}

.yoga__pose--image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.yoga__pose--description {
    font-family: 'Manrope', 'sans-serif';
    font-size: 20px;
    color: grey;

}

.yoga__difficulty {
    margin-top: 20px;
    font-family: 'Manrope', 'sans-serif';
    font-size: 18px;
    color: darkcyan;
}

.yoga__pose--instructions {
    margin-top: 40px;
}

.instruction__button {
    font-family: 'Manrope', 'sans-serif';
    font-size: 14px;
    color: white;
    padding: 15px;
    background-color: cadetblue;
    cursor: pointer;
    transition: all .1s ease;
}

.instruction__button:hover {
    background-color: white;
    color: cadetblue;
    border: 1px solid black;
}

.instruction__header {
    display: inline-block;
    font-family: 'Manrope', 'sans-serif';
    color: cadetblue;
    border-bottom: 1px solid cadetblue;
    margin-bottom: 20px;
    margin-top: 20px;
}


.instruction__description {
    font-family: 'Manrope';
    color: grey;
}

/* Yoga Container Buttons */

.wellness__button--container {
    margin-bottom: 20px;
}

.clearfix {
    overflow: auto;
}


.left {
    padding: 10px;
    height: 35px;
    width: 35px;
    border: 1px solid cadetblue;
    border-radius: 50%;
    float: left;
    transition: all .2s ease;
    cursor: pointer;
}

.right {
    padding: 10px;
    float: right;
    height: 35px;
    width: 35px;
    border: 1px solid cadetblue;
    border-radius: 50%;
    transition: all .2s ease;
    cursor: pointer;
}

/* Meditation Tones Section */

.meditation__header--feature {
    display: flex;
    width: 100%;
}

.meditation__header--intro {
    width: 50%;
}

.meditation__header--intro h3 {
    text-align: center;
    display: inline-block;
    font-family: 'Manrope', 'sans-serif';
    font-size: 30px;
    color: cadetblue;
}

.meditation__header--intro p {
    text-align: center;
    font-family: 'Manrope', 'sans-serif';
    color: darkgrey;
    font-size: 18px;
    line-height: 30px;
}

.meditation__header--img {
    text-align: center;
    width: 50%;
}

.meditation__header--img img {
    height: 200px;
    width: 200px;
}